// Container
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 10px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

// Row
.row {
  display: flex;
  flex-flow: row wrap;
}

// Col
.col {
  width: 100%;
  display: block;
  padding: 10px;
}

// XL Size
@media (min-width: 993px) {
  .xl-1  { width: $width-1;  }
  .xl-2  { width: $width-2;  }
  .xl-3  { width: $width-3;  }
  .xl-4  { width: $width-4;  }
  .xl-5  { width: $width-5;  }
  .xl-6  { width: $width-6;  }
  .xl-7  { width: $width-7;  }
  .xl-8  { width: $width-8;  }
  .xl-9  { width: $width-9;  }
  .xl-10 { width: $width-10; }
  .xl-11 { width: $width-11; }
  .xl-12 { width: $width-12; }
}

// LG Size
@media (max-width: 992px) {
  .lg-1  { width: $width-1;  }
  .lg-2  { width: $width-2;  }
  .lg-3  { width: $width-3;  }
  .lg-4  { width: $width-4;  }
  .lg-5  { width: $width-5;  }
  .lg-6  { width: $width-6;  }
  .lg-7  { width: $width-7;  }
  .lg-8  { width: $width-8;  }
  .lg-9  { width: $width-9;  }
  .lg-10 { width: $width-10; }
  .lg-11 { width: $width-11; }
  .lg-12 { width: $width-12; }
}

// MD Size
@media (max-width: 768px) {
  .md-1  { width: $width-1;  }
  .md-2  { width: $width-2;  }
  .md-3  { width: $width-3;  }
  .md-4  { width: $width-4;  }
  .md-5  { width: $width-5;  }
  .md-6  { width: $width-6;  }
  .md-7  { width: $width-7;  }
  .md-8  { width: $width-8;  }
  .md-9  { width: $width-9;  }
  .md-10 { width: $width-10; }
  .md-11 { width: $width-11; }
  .md-12 { width: $width-12; }
}

// SM Size
@media (max-width: 576px) {
  .sm-1  { width: $width-1;  }
  .sm-2  { width: $width-2;  }
  .sm-3  { width: $width-3;  }
  .sm-4  { width: $width-4;  }
  .sm-5  { width: $width-5;  }
  .sm-6  { width: $width-6;  }
  .sm-7  { width: $width-7;  }
  .sm-8  { width: $width-8;  }
  .sm-9  { width: $width-9;  }
  .sm-10 { width: $width-10; }
  .sm-11 { width: $width-11; }
  .sm-12 { width: $width-12; }
}