// Variables
$width-1  : 8.333333%;
$width-2  : 16.666666%;
$width-3  : 25%;
$width-4  : 33.333333%;
$width-5  : 41.666666%;
$width-6  : 50%;
$width-7  : 58.333333%;
$width-8  : 66.666666%;
$width-9  : 74.999997%;
$width-10 : 83.333333%;
$width-11 : 91.666666%;
$width-12 : 100%;